.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 5vh;
  color: white;
  background-color: rgb(24, 24, 24);
}

nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 50%;
}

.nav-link{
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.nav-link:hover, :focus{
  color: grey
}